<mat-accordion *ngIf="receivedPosts.length > 0">
  <mat-expansion-panel *ngFor="let post of receivedPosts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    {{ post.content }}
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="receivedPosts.length <= 0" class="info-text mat-body-1">
  Sem posts! :(
</p>
